*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Bebas Neue', cursive;
}

.principal {
    background-image: url("../img/background.png");
    height: 600px;
    background-size: contain;
    background-position: center;
    text-align: center; 
}

.textcontainer{
    padding-top: 180px;
}

.textcontainer p{
    padding: 0 500px;
}

.textcontainer h1 {
    font-size: 4em;
}

.design {
    height: auto;
    margin: auto;
    width: 60%;
}

.textcarousel {
    background-color:rgba(0, 0, 0, 0.5);
}

.flexcontainer{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    width: 100%;
    height: 400px;
    color: white;
    display: flex;
    

    

}


.flexleft {
    width: 50%;
}

.flexright{
    width: 50%;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
