*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Bebas Neue', cursive;
}

.principal {
    background-image: url("../img/background.png");
    height: 600px;
    background-size: contain;
    background-position: center;
    text-align: center; 
}

.textcontainer{
    padding-top: 180px;
}

.textcontainer p{
    padding: 0 500px;
}

.textcontainer h1 {
    font-size: 4em;
}

.design {
    height: auto;
    margin: auto;
    width: 60%;
}

.textcarousel {
    background-color:rgba(0, 0, 0, 0.5);
}
